#navigation{
    font-size: 1rem;
    background-color: #6C733D;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    

}
.nav-buttons{
    padding: 10px;
    text-decoration: none;
    color: rgb(251, 252, 249);

}

.nav-buttons:hover{
color: rgb(174, 180, 175);
}

