
body{
    
}

#header{
    height: 80px;
    display: grid;
    grid-template-rows: 80% auto;
    text-align: center;
    background-color: red;

}
#navigation{
    font-size: .6rem;
    border-top: 1px solid grey;
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: italic;
    
}

.nav-buttons{

    padding: 3px;
    text-decoration: none;
    color: black;
}

#hero-image {
    height: 150px;
    background-color: red;
    background-image: url("https://www.treehugger.com/thmb/2MGq3_NnjIGsTD78k5TTombL6b8=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8860298334_509c5f9698_o-2fba9e1a26cc465bb9d4f9b659b2296d.jpg");
    background-size: cover;
    background-position-y: -30px ;
}
#content{
    height: 1000px;
    background-color: aqua;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;

}
#content-article{
    margin-top: -20px;
    background-color: white;

}